body{
    font-family: 'Qahiri', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.d1{
    width: 50%;
    padding-left: 2%;
    
}
.d1 img{
    width: 80%;
}
.bt{
    text-decoration: none;
    padding: 10px 40px;
   background-color:orangered;
   border-radius: 3px;
   color: black;
   
}
.bi{
   background-image: url(img/top-banner.png);
   background-repeat: no-repeat;
   
}
